.navbar {
    grid-column: span 4;
    position: sticky;
    top: 0;
    height: 100vh;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.profile-picture {
    padding: 122px 0 0 0;
}